@import url("https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap");

* {
  box-sizing: border-box;
  letter-spacing: 0.6px;
  line-height: 1.5rem;
  font-family: Roboto;
  color: white;
}
body {
  margin: 0;
  padding: 0;
  background-color: black;
}
html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@import "./breakpoints.scss";

$breakpoints: (
  "550": 550px,
  "800": 800px,
  "1080": 1080px,
) !default;
